.clients__list {
  @include flex();
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;

    row-gap: 30px;
    column-gap: 30px;
  }
}
.clients__point:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  @include flex();
  flex-basis: calc(100% - 30px / 2);

  border: 1px solid $lightGrey;
  border-radius: 4px;
  color: $lightGrey;

  height: 92px;
  @media screen and (max-width: 1199px) {
    width: 210px;
  }

  width: 170px;

  transition: border-color $timeDelay $cubic;

  &:hover,
  &:focus {
    border-color: $brandBlue;
  }
}

.clients__icon {
  fill: $lightGrey;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $brandBlue;
  }
}
