.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__container {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    display: flex;

    padding-top: 23px;
    padding-bottom: 21px;
  }
}
.navmenu {
  @include flex();
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}
.navmenu__button {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu__mobile {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  width: 100%;

  background-color: white;
  padding: 40px 48px;

  font-size: 40px;

  &.is-open {
    display: block;
  }
}

.menu__point:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link {
  @include fonts($fw: 500, $fsz: 40px, $lh: 47px, $ls: 0.02em);

  color: $dark;
  &:hover,
  &:focus {
    color: $brandBlue;
  }
}
.menu__list--contacts {
  margin-top: 302px;
}
.menu__link--phone {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 34px, $lh: 40px, $ls: 0.02em);

  color: $brandBlue;
}
.menu__link--email {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 24px, $lh: 28px, $ls: 0.02em);

  color: $lightGrey;
  &:hover,
  &:focus {
    color: $brandBlue;
  }
}
.menu__list--sl {
  display: flex;
  margin-top: 64px;

  width: 100%;

  & .menu__point {
    margin: 0;
  }
}
.menu__link--sl {
  display: block;

  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 18px, $lh: 22px, $ls: 0.02em);

  color: $brandBlue;

  &::after {
    content: "";

    width: 0px;
    height: 22px;

    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);

    background-image: url("../image/menu-line.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}

.header__list,
.navmenu__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navmenu__list {
  @media screen and (min-width: $tablet) {
    @include flex();
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 84px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
.navmenu__link {
  @media screen and (min-width: $tablet) {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

    @include fonts($fw: 500, $fsz: 14px, $lh: 16px, $ls: 0.02em);

    color: $dark;

    &:hover,
    &:focus {
      color: $brandBlue;
    }
  }
}
.header__list {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    @include flex();
    margin-left: auto;
  }
}
.navmenu__point:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}
.header__point:not(:last-child) {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.header__link {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    @include fonts($fw: 500, $fsz: 12px, $lh: 14px, $ls: 0.02em);
  }
  @media screen and (min-width: $tablet) {
    @include flex($jc: flex-start);

    &:focus,
    &:hover {
      color: $brandBlue;
    }
  }
}
.header__icon {
  fill: $lightGrey;
  @media screen and (min-width: $tablet) {
    margin-right: 8px;

    &:hover,
    &:focus,
    .header__link:focus &,
    .header__link:hover & {
      fill: $brandBlue;
    }
  }
}
.link--current {
  color: $brandBlue;

  @media screen and (min-width: $tablet) {
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;

      width: 100%;
      height: 4px;

      background-color: $brandBlue;
      border-radius: 2px;
    }
  }
}
