.banner {
  // margin-left: auto;
  // margin-right: auto;

  padding-left: 60px;
  padding-right: 60px;
  padding-top: 118px;
  padding-bottom: 118px;

  height: 400px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  @include mq(mobile-only) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/hero-mobile-1x.jpeg");

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/backgrounds/hero-mobile-2x.jpeg");
    }
  }

  @include mq(tablet-only) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/hero-tablet-1x.jpeg");

    padding-left: 204px;
    padding-right: 204px;

    @include mq(retina){
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/backgrounds/hero-tablet-2x.jpeg");
    }
  }
  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/hero-desktop-1x.jpeg");
    height: 600px;

    padding: 250px;
    padding-top: 200px;
    padding-bottom: 280px;

    @include mq(retina) {
      background-image: url("../images/backgrounds/hero-desktop-2x.jpeg");
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}

.banner__title {

  @include fonts($fw: 900, $fsz: 26px, $lh: 42px, $ls: 0.06em);

  text-align: center;
  text-transform: uppercase;

  color: white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  max-width: 360px;

  margin-left:auto;
  margin-right: auto;



  @include mq(desktop) {
    @include fonts(bold, 900, 44px, 60px, 0.06em);
    max-width: 696px;
  }

}
.banner__button {
  color: white;
}
