.logo {
  font-family: $logoFont;
  @include fonts($fw: 700, $fsz: 24px, $lh: 28px);

  color: $brandBlue;
}
.logo__header {
  @include mq(tablet) {
    margin-right: 88px;
  }
}
.logo__header--dark {
  color: $dark;
}

.footer__logo--light {
  color: white;
}
