// Мобильнео меню

.mobile-menu__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  bottom: 0;
  right: 0;
  z-index: 0;

  transform: translateY(-100%);
  opacity: 0;
  transition: transform $timeDelay $cubic $timeDelay,
    opacity $timeDelay $cubic $timeDelay;

  width: 100%;
  min-height: 80px;

  padding-left: 8.4%;
  padding-right: 17%;
  padding-bottom: 10%;
  padding-top: 10%;

  background-color: white;

  font-size: 40px;

  &.is-open {
    transform: translateY(0);
    opacity: 100%;
  }
}
.navmenu__button {
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 1;
  @media screen and (min-width: $mobile) and (max-width: 545px) {
    right: 5%;
  }
  @media screen and (min-width: 546px) and (max-width: 650px) {
    right: 8%;
  }
  @media screen and (min-width: 651px) and (max-width: 767px) {
    right: 10%;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
  &.is-open {
    position: fixed;
    top: 0;
    right: 2%;
    @media screen and (min-width: $mobile) and (max-width: 545px) {
      right: 5%;
    }
    @media screen and (min-width: 546px) and (max-width: 650px) {
      right: 8%;
    }
    @media screen and (min-width: 651px) and (max-width: 767px) {
      right: 10%;
    }
  }
}

.mobile-menu__link {
  @include fonts($fw: 500, $fsz: 40px, $lh: 47px, $ls: 0.02em);

  color: $dark;
  &:hover,
  &:focus {
    color: $brandBlue;
  }
}

.mobile-menu__link--phone {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 34px, $lh: 40px, $ls: 0.02em);

  color: $brandBlue;
}
.mobile-menu__link--email {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 24px, $lh: 28px, $ls: 0.02em);

  color: $lightGrey;
  &:hover,
  &:focus {
    color: $brandBlue;
  }
}
.mobile-menu__list--sl {
  display: flex;
}
.mobile-menu__point--sl {
  display: flex;
}

.mobile-menu__point--sl:not(:last-child) {
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    margin: 0 10px;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__link--sl {
  display: inline;

  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 18px, $lh: 22px, $ls: 0.02em);

  color: $brandBlue;
}
