// Мобильнео меню

.mobile-menu__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  bottom: 0;
  right: 0;
  z-index: 0;

  transform: translateY(-100%);
  opacity: 0;
  transition: transform $timeDelay $cubic $timeDelay,
    opacity $timeDelay $cubic $timeDelay;

  width: 100%;
  min-height: 100vw;

  padding-left: 8.4%;
  padding-bottom: 10%;
  padding-top: 10%;

  background-color: white;

  font-size: 40px;

  &.is-open {
    transform: translateY(0);
    opacity: 100%;
  }
}
.navmenu__button {
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 1;
  
  @media screen and (min-width: $mobile) and (max-width: 545px) {
    right: 5%;
  }
  @media screen and (min-width: 546px) and (max-width: 650px) {
    right: 8%;
  }
  @media screen and (min-width: 651px) and (max-width: 767px) {
    right: 10%;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
  &.is-open {
    position: fixed;
    top: 0;
    right: 2%;
    @media screen and (min-width: $mobile) and (max-width: 545px) {
      right: 5%;
    }
    @media screen and (min-width: 546px) and (max-width: 650px) {
      right: 8%;
    }
    @media screen and (min-width: 651px) and (max-width: 767px) {
      right: 10%;
    }
  }
}

@-webkit-keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
.flip-2-hor-top-1 {
  -webkit-animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
.mobile-menu__link {
  @include fonts($fw: 500, $fsz: 40px, $lh: 47px, $ls: 0.02em);

  color: $dark;
  &:hover,
  &:focus {
    color: $brandBlue;
  }

  @media screen and (max-width: 400px) {
    @include fonts($fsz: 2rem, $lh: 3rem);
  }
}

.mobile-menu__link--phone {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 34px, $lh: 40px, $ls: 0.02em);

  color: $brandBlue;

  @media screen and (max-width: 400px) {
    @include fonts($fsz: 1.5rem, $lh: 2.5rem);
  }
}
.mobile-menu__link--email {
  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 24px, $lh: 28px, $ls: 0.02em);

  color: $lightGrey;
  &:hover,
  &:focus {
    color: $brandBlue;
  }
  @media screen and (max-width: 400px) {
    @include fonts($fsz: 1.5rem, $lh: 3rem);
  }
}
.mobile-menu__list--sl {
  display: flex;

  @media screen and (max-width: 400px) {
    @include fonts($fsz: 1rem, $lh: 1rem);

    flex-wrap: wrap;
  }
}
.mobile-menu__point--sl {
  display: flex;
}

.mobile-menu__point--sl:not(:last-child) {
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    margin: 0 10px;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__link--sl {
  display: inline;

  font-family: $mainFont;
  @include fonts($fw: 500, $fsz: 18px, $lh: 22px, $ls: 0.02em);

  color: $brandBlue;

  @media screen and (max-width: 400px) {
    @include fonts($fsz: 1rem, $lh: 1.5rem);
  }
}
