//Модальное окно//

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  display: none;
}
.modal {
  position: relative;
  z-index: 3;

  padding: 8px;
  background-color: white;

  margin-left: auto;
  margin-right: auto;

  width: 450px;
  min-height: 609px;
  
  @media screen and (max-width:$mobile) {
    width: 90vw;
  }
  @include mq(desktop) {
    width: 528px;
  }
}

.modal__button {
  position: relative;

  display: block;
  margin-left: auto;

  width: 30px;
  height: 30px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__icon--close {
  position: absolute;
  top: 30%;
  right: 31.3%;

  transition: fill $timeDelay $cubic;

  width: 11px;
  height: 11px;

  fill: black;

  .modal__button:hover &,
  .modal__button:focus & {
    fill: $brandBlue;
  }
}

.modal__icon:hover,
.modal__icon:focus {
  fill: $brandBlue;
}
.modal__container {
  padding: 32px;
  padding-top: 0px;
}
.modal__field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.modal__title {
  margin-bottom: 12px;

  width: 100%;

  @include fonts($fw: bold, $fsz: 20px, $lh: 23px);

  text-align: center;

  color: $dark;

  @media screen and (max-width: 400px) {
    @include fonts($fw: bold, $fsz: 1rem, $lh: 1.5rem);
  }
}
.modal__label {
  @include fonts($fsz: 12px, $lh: 15px, $ls: 0.01em);

  color: $txt-color;
}
.modal__input {
  transition: border $timeDelay $cubic;

  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  @include fonts($fsz: 12px, $lh: 14px, $ls: 0.01em);

  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;

  &:hover {
    border: 1px solid $brandBlue;
  }
}

.modal__input--comment {
  display: block;

  resize: none;

  padding-left: 16px;
  margin-bottom: 0;
  height: 120px;

  color: $txt-color;
}

.modal__label--policy {
  @include flex();

  margin-top: 20px;

  @media screen and (max-width: 400px) {
    @include fonts($fsz: 0.9em, $lh: 0.9em);
  }

  @include fonts($fsz: 14px, $lh: 24px);
  color: $txt-color;

  @include mq(tablet) {
    @include fonts($fw: 400, $fsz: 12px, $lh: 14px);
  }
}

.modal__link {
  display: inline-block;

  color: $brandBlue;
  text-decoration: underline;
}

.modal__icon--check {
  transition: border $timeDelay $cubic, background-color $timeDelay $cubic,
    background-image $timeDelay $cubic;

  @include flex();

  width: 16px;
  height: 15px;

  margin-right: 8px;

  border: 2px solid $dark;
  border-radius: 4px;

  @media screen and (max-width: 400px) {
    width: 25px;
  }
}

.modal__check:checked + .modal__icon--check {
  border: transparent;
  background-color: $brandBlue;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
}

.button__feedback {
  color: white;
}
.modal__icon {
  position: absolute;
  transition: fill $timeDelay $cubic;

  left: 12px;
  top: 0;
  transform: translateY(100%);

  fill: $dark;

  @media screen and (max-width: 400px) {
    width: 10px;
    height: auto;
  }
}
.smartphone-icon {
  left: 15px;
}
.modal__field:hover .modal__icon {
  fill: $brandBlue;
}
