//Общее оформление секций//
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.point:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
//Заголовки секций//
.title {
  @include fonts($fw: 700, $fsz: 28px, $lh: 33px);

  margin-bottom: 30px;

  color: $dark;
}
