.button {
  @include flex();
  transition: box-shadow $timeDelay $cubic, background-color $timeDelay $cubic;

  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 32px;

  background-color: $brandBlue;

  font-family: $mainFont;
  @include fonts($fw: 700, $fsz: 16px, $lh: 30px, $ls: 0.06em);

  @media screen and (max-width: 400px) {
    font-size: inherit;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $blueButton;
  }
}
.navmenu__button {
  @include mq(tablet) {
    display: none;
  }

  display: inline-flex;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}
.navmenu__icon--cross {
  display: none;

  .navmenu__button.is-open & {
    display: block;
  }

  .navmenu__button:hover &,
  .navmenu__button:focus & {
    fill: $brandBlue;
  }
}

.navmenu__icon--menu {
  .navmenu__button.is-open & {
    display: none;
  }
  .navmenu__button:hover &,
  .navmenu__button:focus & {
    fill: $brandBlue;
  }
}
