// Цвета//
$brandBlue: #2196f3;
$blueButton: #188ce8;
$dark: #212121;
$darkGrey: #2f303a;
$txt-color: #757575;
$lightGrey: #afb1b8;
$foneColor: #f5f4fa;

// Шрифты//
$mainFont: "Roboto", sans-serif, arial;
$logoFont: Raleway;

//Анимация//
$timeDelay: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
